VITE_API_BASE_URL=https://api.devtest.catalystone.dev/auth2
VITE_AUTH_ISSUER=https://api.devtest.catalystone.dev/auth2
VITE_AUTH_CLIENT_ID=...
VITE_AUTH_CLIENT_SECRET=...
VITE_AUTH_REDIRECT_URI=http://localhost:5173
VITE_AUTH_SCOPES=openid profile

